Repository channel-io/bezier-react, pull requests merged in 2021-06, with the labels that each got.

#510 ListItem에 focused 추가 및 개선
  src/components/ListItem/ListItem.stories.tsx
  src/components/ListItem/ListItem.styled.ts
  src/components/ListItem/ListItem.tsx
  src/components/ListItem/ListItem.types.ts
  src/components/ListItem/__snapshots__/ListItem.test.tsx.snap
Labels: enhancement, refactor

#504 Avatar의 avatarUrl이 업데이트 되지 않는 문제 수정
  package-lock.json
  package.json
  src/components/Avatars/Avatar/Avatar.test.tsx
  src/components/Avatars/Avatar/Avatar.tsx
  src/components/Avatars/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/hooks/useProgressiveImage.test.ts
  src/hooks/useProgressiveImage.ts
Labels: bug:avatar

#519 TextArea 스타일을 올바르게 수정
  src/components/Input/TextArea/TextArea.styled.ts
  src/components/Input/TextArea/__snapshots__/TextArea.test.tsx.snap
Labels: bug:textarea

#521 fix(textarea): TextArea 스타일 수정
  src/components/Input/TextArea/TextArea.styled.ts
  src/components/Input/TextArea/__snapshots__/TextArea.test.tsx.snap
Labels: bug:textarea

#520 TextField 스타일을 올바르게 수정
  src/components/Input/TextField/TextField.styled.ts
Labels: bug:textfield

#512 여러 ListItem active시 border가 자연스럽게 이어지는 기능 추가
  src/components/ListItem/ListItem.stories.tsx
  src/components/ListItem/ListItem.test.tsx
  src/components/ListItem/ListItem.tsx
  src/hooks/useAdjacentElementBorderRadius.ts
Labels: enhancement

#516 Select 컴포넌트를 제어하는 메서드를 외부에서도 사용할 수 있도록 변경
  src/components/Input/Select/Select.tsx
  src/components/Input/Select/Select.types.ts
  src/components/Input/Select/index.ts
  src/components/Input/TextField/TextField.tsx
Labels: enhancement

#518 Avatar가 사용처에서 의도치않게 위에 쌓이는 문제 수정
  src/components/Avatars/Avatar/Avatar.styled.ts
  src/components/Avatars/Avatar/Avatar.tsx
  src/components/Avatars/CheckableAvatar/CheckableAvatar.styled.ts
Labels: bug:avatar

#524 fix(outlineitem): height, color를 디자인에 맞게 수정
  src/components/OutlineItem/OutlineItem.styled.ts
  src/components/OutlineItem/OutlineItem.test.tsx
Labels: bug:list item

#528 fix(sectionlabel.types.ts): sectionLabelHelpProps['tooltipContent']의 타입을 Tooltip Content 타입과 맞춤
  src/components/SectionLabel/SectionLabel.types.ts
Labels: bug:etc

#527 fix(checkableavatar): checkableAvatar가 체크된 상태일때 background color를 커스텀 가능하도록 변경
  src/components/Avatars/CheckableAvatar/CheckableAvatar.stories.tsx
  src/components/Avatars/CheckableAvatar/CheckableAvatar.styled.ts
  src/components/Avatars/CheckableAvatar/CheckableAvatar.tsx
  src/components/Avatars/CheckableAvatar/CheckableAvatar.types.ts
Labels: bug:avatar

#534 fix(avatar): 아바타의 background, border 색상을 투명도 없는 색상으로 변경
  src/components/Avatars/Avatar/Avatar.styled.ts
  src/components/Avatars/Avatar/__snapshots__/Avatar.test.tsx.snap
Labels: bug:avatar

#533 fix(outlineitem): active인 OutlineItem을 hover하면 background가 덮어씌워지는 문제 수정
  src/components/OutlineItem/OutlineItem.styled.ts
Labels: bug:list item

#530 OutlineItem의 chevron 영역을 제거할 수 있도록 prop 추가
  src/components/OutlineItem/OutlineItem.styled.ts
  src/components/OutlineItem/OutlineItem.tsx
  src/components/OutlineItem/OutlineItem.types.ts
Labels: enhancement

#532 fix(button): correct Button colors according to its size
  src/components/Button/Button.styled.ts
  src/components/Button/Button.tsx
Labels: bug:etc

#535 AvatarGroup의 EllipsisCount 잘못된 스타일 수정
  src/components/Avatars/AvatarGroup/AvatarGroup.styled.ts
  src/components/Avatars/AvatarGroup/AvatarGroup.tsx
Labels: bug:avatar

#538 Tooltip에 줄 수 제한 및 ellipsis 적용
  src/components/Tooltip/Tooltip.styled.ts
  src/components/Tooltip/Tooltip.tsx
  src/foundation/Mixin.test.tsx
  src/foundation/Mixins.ts
Labels: enhancement, released on @next-v1

#539 fix(checkableavatar): 체크 스타일이 children 내부 Avatar에도 적용되는 문제 수정
  src/components/Avatars/CheckableAvatar/CheckableAvatar.stories.tsx
  src/components/Avatars/CheckableAvatar/CheckableAvatar.styled.ts
  src/components/Avatars/CheckableAvatar/CheckableAvatar.tsx
  src/types/InjectedInterpolation.ts
Labels: bug:avatar

#540 fix(overlay): overlay의 prop이 변하면 children이 remount되는 문제 수정
  src/components/Overlay/Overlay.stories.tsx
  src/components/Overlay/Overlay.tsx
Labels: bug:overlay

#542 fix(useresizinghandler.ts): onChangeWidth가 인접 column 을 움직일 때에도 불리던 문제를 수정
  src/hooks/useResizingHandlers.ts
  src/layout/Navigations/NavigationArea/NavigationArea.tsx
  src/layout/Navigations/NavigationArea/NavigationArea.types.ts
  src/layout/Navigations/NavigationContent/NavigationContent.tsx
  src/layout/redux/LayoutActions.ts
  src/layout/stories/LayoutPlayground/LayoutPlayGround.stories.tsx
Labels: bug:navigation

#543 feat(tag): 태그, 뱃지 프리셋의 타입을 정확하게 수정
  src/components/TagBadge/TagBadgeCommon/constants/TagBadgeVariant.ts
Labels: enhancement

#541 fix(listitem): content가 string이 아닐 때, TitleWrapper 영역 모두 차지하도록 수정
  src/components/ListItem/ListItem.tsx
Labels: bug:list item

#546 fix(checkbox): 체크박스의 기본 배경색을 투명에서 흰색으로 변경
  src/components/Checkbox/Checkbox.styled.ts
Labels: bug:checkbox

#552 fix(overlay): children이 변해도 새로 위치계산이 적용되지 않는문제 수정
  src/components/Overlay/Overlay.tsx
Labels: bug:overlay

#551 SideArea 관련 로직 정리, CoverableHeaderComponent optional로 변경
  src/hooks/useSidePanelHandler.test.ts
  src/hooks/useSidePanelHandler.ts
  src/hooks/useSideView.ts
  src/hooks/useSideViewHandler.test.ts
  src/hooks/useSideViewHandler.ts
  src/index.ts
  src/layout/HeaderArea/HeaderArea.tsx
  src/layout/HeaderArea/HeaderArea.types.ts
  src/layout/Main/Main.types.ts
  src/layout/Side/SidePanelContent/SidePanelContent.tsx
  src/layout/redux/LayoutActionTypes.ts
  src/layout/redux/LayoutActions.ts
  src/layout/redux/LayoutReducer.ts
  src/layout/stories/LayoutPlayground/Content.tsx
  src/layout/stories/LayoutPlayground/LayoutPlayGround.stories.tsx
Labels: bug:main, refactor

#545 CheckableAvatar 컴포넌트 최신화
  src/components/Avatars/CheckableAvatar/CheckableAvatar.styled.ts
  src/components/Avatars/CheckableAvatar/CheckableAvatar.tsx
Labels: enhancement

#549 AvatarGroup 컴포넌트 최신화
  src/components/Avatars/AvatarGroup/AvatarGroup.styled.ts
  src/components/Avatars/AvatarGroup/AvatarGroup.tsx
Labels: enhancement

#558 fix(overlay): 오버레이 ref가 달라져 생긴 사이드이펙트 수정
  src/components/Overlay/Overlay.tsx
Labels: bug:overlay
