Repository channel-io/bezier-react, pull requests merged in 2021-11, with the labels that each got.

#600 feat(banner): add Banner component
  src/components/Banner/Banner.const.ts
  src/components/Banner/Banner.stories.tsx
  src/components/Banner/Banner.styled.ts
  src/components/Banner/Banner.test.tsx
  src/components/Banner/Banner.tsx
  src/components/Banner/Banner.types.ts
  src/components/Banner/index.ts
  src/index.ts
Labels: new:component

#606 listItem의 RightContent가 강제 줄바꿈 되는 버그 수정
  src/components/ListItem/ListItem.styled.ts
Labels: bug:list item

#610 fix(banner): correct Banner link text style
  src/components/Banner/Banner.test.tsx
  src/components/Banner/Banner.tsx
Labels: bug:banner

#611 fix(segmentedcontrol): correct disabled style
  src/components/SegmentedControl/SegmentedControl.styled.ts
  src/components/SegmentedControl/SegmentedControl.test.tsx
  src/components/SegmentedControl/SegmentedControl.tsx
  src/components/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
Labels: bug:segmented-control

#619 Add Divider Component
  src/components/Divider/Divider.stories.tsx
  src/components/Divider/Divider.styled.ts
  src/components/Divider/Divider.test.tsx
  src/components/Divider/Divider.tsx
  src/components/Divider/Divider.types.ts
  src/components/Divider/__snapshots__/Divider.test.tsx.snap
  src/components/Divider/index.ts
  src/index.ts
Labels: new:component
