Repository channel-io/bezier-react, pull requests merged in 2024-04, with the labels that each got.

#2124 Build an environment for the next version of Design Token development
  packages/bezier-tokens/package.json
  packages/bezier-tokens/scripts/build-css-index.mts
  packages/bezier-tokens/scripts/build-js-index.mts
  packages/bezier-tokens/scripts/build-tokens.ts
  packages/bezier-tokens/scripts/lib/transform.ts
  packages/bezier-tokens/src/alpha/global/color.json
  yarn.lock
Labels: build, bezier-tokens

#2135 Add `ref` value to alpha javascript token object output & Refactor build scripts
  .changeset/fluffy-mangos-boil.md
  packages/bezier-tokens/package.json
  packages/bezier-tokens/scripts/build-css-index.mts
  packages/bezier-tokens/scripts/build-js-index.mts
  packages/bezier-tokens/scripts/build-js-index.ts
  packages/bezier-tokens/scripts/build-tokens.ts
  packages/bezier-tokens/scripts/lib/format.ts
  packages/bezier-tokens/scripts/merge-css.ts
  yarn.lock
Labels: build, bezier-tokens

#2139 Add publisher name to `bezier-vscode` package.json
  packages/bezier-vscode/package.json
Labels: bezier-vscode

#2140 Remove the `/alpha` directory and add the `Alpha` prefix to alpha components
  .changeset/wild-pots-sniff.md
  packages/bezier-react/.eslintrc.js
  packages/bezier-react/package.json
  packages/bezier-react/rollup.config.mjs
  packages/bezier-react/src/alpha-components/DialogPrimitive/index.ts
  packages/bezier-react/src/alpha-components/TooltipPrimitive/index.ts
  packages/bezier-react/src/alpha-components/index.ts
  packages/bezier-react/src/components/AlphaDialogPrimitive/AlphaDialogPrimitive.mdx
  packages/bezier-react/src/components/AlphaDialogPrimitive/AlphaDialogPrimitive.stories.tsx
  packages/bezier-react/src/components/AlphaDialogPrimitive/DialogPrimitive.tsx
  packages/bezier-react/src/components/AlphaDialogPrimitive/DialogPrimitive.types.ts
  packages/bezier-react/src/components/AlphaDialogPrimitive/index.ts
  packages/bezier-react/src/components/AlphaTooltipPrimitive/AlphaTooltipPrimitive.mdx
  packages/bezier-react/src/components/AlphaTooltipPrimitive/AlphaTooltipPrimitive.stories.tsx
  packages/bezier-react/src/components/AlphaTooltipPrimitive/TooltipPrimitive.tsx
  packages/bezier-react/src/components/AlphaTooltipPrimitive/TooltipPrimitive.types.ts
  packages/bezier-react/src/components/AlphaTooltipPrimitive/index.ts
  packages/bezier-react/src/components/Modal/Modal.tsx
  packages/bezier-react/src/components/Tooltip/Tooltip.tsx
  packages/bezier-react/src/index.ts
  packages/bezier-react/tsconfig.build.json
  packages/bezier-react/tsconfig.prune.json
Labels: build, feat

#2142 Add documentation about alpha version color & shadow design tokens
  packages/bezier-react/.storybook/preview.tsx
  packages/bezier-react/src/stories/alpha-color.mdx
  packages/bezier-react/src/stories/alpha-shadow.mdx
Labels: documentation

#2138 Reflect figma design change in alpha design tokens
  .changeset/cyan-steaks-fail.md
  packages/bezier-tokens/src/alpha/functional/dark-theme/color.json
  packages/bezier-tokens/src/alpha/functional/light-theme/color.json
  packages/bezier-tokens/src/alpha/semantic/color.json
Labels: bezier-tokens

#2136 Fix cache miss during lint, typecheck, test job in ci
  .circleci/config.yml
  turbo.json
Labels: chore:system

#2152 Add "color" prefix to color tokens and fix misnaming of typography tokens
  .changeset/serious-bottles-film.md
  packages/bezier-react/src/components/Modal/Modal.tsx
  packages/bezier-react/src/components/Tooltip/Tooltip.tsx
  packages/bezier-react/src/stories/alpha-color.mdx
  packages/bezier-react/src/stories/alpha-shadow.mdx
  packages/bezier-tokens/src/alpha/functional/dark-theme/color.json
  packages/bezier-tokens/src/alpha/functional/gradient.json
  packages/bezier-tokens/src/alpha/functional/light-theme/color.json
  packages/bezier-tokens/src/alpha/functional/shadow.json
  packages/bezier-tokens/src/alpha/global/color.json
  packages/bezier-tokens/src/alpha/global/font.json
  packages/bezier-tokens/src/alpha/global/gradient.json
  packages/bezier-tokens/src/alpha/global/typography.json
  packages/bezier-tokens/src/alpha/semantic/color.json
  packages/bezier-tokens/src/alpha/semantic/shadow.json
Labels: bezier-tokens

#2156 fix(form-label/helper-text): fix merging of classname not working properly when inside a `FormControl`
  .changeset/witty-icons-beg.md
  packages/bezier-react/src/components/FormHelperText/FormHelperText.tsx
  packages/bezier-react/src/components/FormLabel/FormLabel.tsx
Labels: fix

#2153 Modify `bezier-vscode` metadata for publish
  .changeset/shiny-rabbits-fly.md
  packages/bezier-vscode/.vscodeignore
  packages/bezier-vscode/CHANGELOG.md
  packages/bezier-vscode/assets/channel-icon.png
  packages/bezier-vscode/package.json
  yarn.lock
Labels: bezier-vscode

#2158 Add first commit of `bezier-vscode` to changelog.md
  packages/bezier-vscode/CHANGELOG.md
Labels: documentation, bezier-vscode

#2160 fix(alpha/color): fix value of color.cobalt.300
  .changeset/many-icons-look.md
  packages/bezier-tokens/src/alpha/global/color.json
Labels: bezier-tokens

#2164 Add CI pipeline by GitHub Action
  .github/workflows/ci.yml
Labels: enhancement, ci

#2166 Fix Turborepo server token to uuid
  .github/workflows/ci.yml
Labels: ci

#2162 Implement `AlphaAvatar` component
  .changeset/curly-coins-attend.md
  .changeset/shiny-starfishes-hug.md
  packages/bezier-react/src/components/AlphaAvatar/AlphaAvatar.stories.tsx
  packages/bezier-react/src/components/AlphaAvatar/Avatar.module.scss
  packages/bezier-react/src/components/AlphaAvatar/Avatar.test.tsx
  packages/bezier-react/src/components/AlphaAvatar/Avatar.tsx
  packages/bezier-react/src/components/AlphaAvatar/Avatar.types.ts
  packages/bezier-react/src/components/AlphaAvatar/__snapshots__/Avatar.test.tsx.snap
  packages/bezier-react/src/components/AlphaAvatar/assets/default-avatar.svg
  packages/bezier-react/src/components/AlphaAvatar/index.ts
  packages/bezier-react/src/components/AlphaAvatar/useProgressiveImage.test.ts
  packages/bezier-react/src/components/AlphaAvatar/useProgressiveImage.ts
  packages/bezier-react/src/index.ts
  packages/bezier-tokens/src/alpha/global/opacity.json
Labels: feat:component

#2176 Add coverage report to GitHub Action, remove CircleCI config
  .circleci/config.yml
  .github/workflows/ci.yml
  codecov.yml
Labels: ci

#2177 Add `AlphaAvatarGroup` component
  .changeset/soft-walls-pretend.md
  packages/bezier-react/src/components/AlphaAvatar/Avatar.tsx
  packages/bezier-react/src/components/AlphaAvatarGroup/AlphaAvatarGroup.stories.tsx
  packages/bezier-react/src/components/AlphaAvatarGroup/AvatarGroup.module.scss
  packages/bezier-react/src/components/AlphaAvatarGroup/AvatarGroup.test.tsx
  packages/bezier-react/src/components/AlphaAvatarGroup/AvatarGroup.tsx
  packages/bezier-react/src/components/AlphaAvatarGroup/AvatarGroup.types.ts
  packages/bezier-react/src/components/AlphaAvatarGroup/__mocks__/avatarList.ts
  packages/bezier-react/src/components/AlphaAvatarGroup/__snapshots__/AvatarGroup.test.tsx.snap
  packages/bezier-react/src/components/AlphaAvatarGroup/index.ts
  packages/bezier-react/src/index.ts
Labels: feat:component

#2181 Add push event on main branch to CI config
  .github/workflows/ci.yml
Labels: ci
